**/*.timthumb.txt
.DS_Store
*.sql
*.log
*.pdf
.ftpconfig
.vscode
.idea
license.txt
wp-content/*
wp-content/plugins/*
!wp-content/plugins/ifmdcom
!wp-content/plugins/log
!wp-content/plugins/freegeoip
wp-content/themes/*
!wp-content/themes/ifmdblog
!wp-content/themes/ifoundmydoctor-com
wp-content/themes/ifoundmydoctor-com/scripts/cache/

